#weather-app-border {
  border: 2px solid rgb(35, 148, 173);
  border-radius: 25px;
  display: block;
  margin: 0 auto;
  width: 27rem;
  height: 17rem;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

#city {
  color: black;
  font-size: 5rem;
  margin-top: 10px;
  margin-left: 20px;
  display: block;
  text-decoration: none;
  font-family: "Space Mono", monospace;
}

#search-city {
  border: 2px solid orange;
  border-radius: 20px;
  margin-top: 5px;
  margin-left: 2px;
  width: 200px;
  font-family: "Space Mono", monospace;
}

#button,
#location {
  border: 1px solid rgb(35, 148, 173);
  border-radius: 20px;
  color: rgb(35, 148, 173);
  background-color: white;
  width: 100px;
  font-family: "Space Mono", monospace;
}

#button:hover {
  color: white;
  background-color: rgb(35, 148, 173);
}

#location:hover {
  color: white;
  background-color: rgb(35, 148, 173);
}

input {
  font-weight: bold;
}
span {
  float: right;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 4px;
}

#temp {
  font-size: 30px;
  font-family: "Space Mono", monospace;
}

#tempp,
#celsius {
  text-decoration: none;
  font-size: 20px;
  color: rgb(35, 148, 173);
}

#day {
  font-family: "Space Mono", monospace;
  margin-left: 10px;
  margin-top: 20px;
  color: rgb(35, 148, 173);
}

.description {
  font-family: "Space Mono", monospace;
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  color: rgb(35, 148, 173);
}

.view {
  font-family: "Space Mono", monospace;
  margin-top: 20px;
  color: rgb(35, 148, 173);
}
